{% extends "base.html" %}
{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="container">
        <h1>Привет, {{ user.first_name }}!</h1>

        <section class="profile-section" style="margin-top:2rem;">
            <h2>Миры, где вы можете играть</h2>
            {% for w in worlds %}
                <div class="card">
                        <a href="{% url 'worlds:detail' w.pk %}">{{ w.name }}</a>
                </div>
            {% endfor %}
        </section>

        <section class="profile-section">
            <h2>Миры, которые вы создали</h2>
            {% if created_worlds %}
                {% for w in created_worlds %}
                    <div class="card">
                        <a href="{% url 'worlds:detail' w.pk %}">{{ w.name }}</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Вы ещё не создали ни одного мира.</p>
            {% endif %}
        </section>

        <p style="margin-top:3rem;">
            <a href="{% url 'accounts:logout' %}" class="btn">Выйти</a>
        </p>
    </div>
{% endblock %}
