{% extends 'base.html' %}
{% load static %}
{% load suggestion_tags %}

{% block title %}Deep Dark Fantasy{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
{% endblock %}

{% block content %}
    <div class="home-hero">
        <div class="container">
            <h1 class="hero-title">Магия</h1>
            <p class="hero-subtitle">Справочник заклинаний и всего что может быть с ними связанно</p>
            <ul class="home-nav">
                <li><a href="{% url 'magic:category_list' %}">Categories (Категории)</a></li>
                <li><a href="{% url 'magic:school_list' %}">Schools (Школы)</a></li>
                <li><a href="{% url 'magic:spell_list' %}">Spells (Заклинания)</a></li>
                {#      <li><a href="{% url 'items:loot_config' %}">Loot (Генератор лута)</a></li>#}
            </ul>
        </div>
    </div>
    {% suggestion_form %}

{% endblock %}
