{% extends 'base.html' %}
{% load static %}
{% load suggestion_tags %}

{% block title %}Deep Dark Fantasy{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
{% endblock %}

{% block content %}
    <div class="home-hero">
        <div class="container">
            <h1 class="hero-title">Deep Dark Fantasy</h1>
            <p class="hero-subtitle">Пробуем сделать что-то годное</p>
            <ul class="home-nav">
                <li><a href="{% url 'rulebook:folder_list' %}">Rulebook (Правила)</a></li>


                <li><a href="{% url 'items:items_main' %}">Items (Предметы)</a></li>
                <li><a href="">Magic (Магия)</a></li>


            </ul>
        </div>
    </div>
    {% suggestion_form %}

{% endblock %}
