{% extends "base.html" %}
{% block title %}Каталог предметов{% endblock %}
{% block content %}
  <div class="container-box">
    <h1>Каталог предметов</h1>

    <form method="get" class="filters">
      <label>
        Тип:
        <select name="type">
          <option value="">Все типы</option>
          {% for t in types %}
            <option value="{{ t.slug }}" {% if request.GET.type == t.slug %}selected{% endif %}>
              {{ t.name }}
            </option>
          {% endfor %}
        </select>
      </label>

      <label>
        Редкость:
        <select name="rarity">
          <option value="">Все редкости</option>
          {% for r in rarities %}
            <option value="{{ r.slug }}" {% if request.GET.rarity == r.slug %}selected{% endif %}>
              {{ r.name }}
            </option>
          {% endfor %}
        </select>
      </label>

      <button class="btn">Фильтровать</button>
    </form>

    <ul class="item-list">
      {% for item in items %}
        <li>
          <h2>{{ item.name }}</h2>
          <p>
            <strong>Тип:</strong> {{ item.type.name }}<br>
            <strong>Редкость:</strong>
              <span style="color: {{ item.rarity.color }};">
                {{ item.rarity.name }}
              </span><br>
            <strong>Бонус:</strong> {{ item.bonus }} <br>

             <strong>Легендарный бонус:</strong> {% if item.legendary_buff %} ({{ item.legendary_buff }}) {% endif %}
          </p>
        </li>
      {% empty %}
        <li>Нет предметов.</li>
      {% endfor %}
    </ul>

    {% if is_paginated %}
      <nav class="pagination">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.type %}&type={{ request.GET.type }}{% endif %}{% if request.GET.rarity %}&rarity={{ request.GET.rarity }}{% endif %}">
            « Назад
          </a>
        {% endif %}
        <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}{% if request.GET.type %}&type={{ request.GET.type }}{% endif %}{% if request.GET.rarity %}&rarity={{ request.GET.rarity }}{% endif %}">
            Вперёд »
          </a>
        {% endif %}
      </nav>
    {% endif %}
  </div>
{% endblock %}
