{% extends "base.html" %}
{% block title %}Создать персонажа{% endblock %}
{% block content %}
    <div class="container">
        <h1>Создать персонажа</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="grid-2">
                <!-- Левая колонка: основные поля -->
                <div>
                    <h2>Основные RP поля</h2>


                    <label>{{ form.name.label }}{% if form.name.field.required %}*{% endif %}</label>
                    {{ form.name }} {{ form.name.errors }}

                    <label>{{ form.race.label }}</label>
                    {{ form.race }}

                    <label>{{ form.gender.label }}</label>
                    {{ form.gender }}

                    <label>{{ form.background.label }}</label>
                    {{ form.background }}

                    <label>{{ form.notes.label }}</label>
                    {{ form.notes }}
                </div>

                <!-- Правая колонка: характеристики -->
                <div>
                    <h2>Характеристики</h2>

                    <label>{{ form.str_stat.label }}</label>
                    {{ form.str_stat }} {{ form.str_stat.errors }}

                    <label>{{ form.dex_stat.label }}</label>
                    {{ form.dex_stat }} {{ form.dex_stat.errors }}

                    <label>{{ form.con_stat.label }}</label>
                    {{ form.con_stat }} {{ form.con_stat.errors }}

                    <label>{{ form.int_stat.label }}</label>
                    {{ form.int_stat }} {{ form.int_stat.errors }}

                    <label>{{ form.wis_stat.label }}</label>
                    {{ form.wis_stat }} {{ form.wis_stat.errors }}

                    <label>{{ form.cha_stat.label }}</label>
                    {{ form.cha_stat }} {{ form.cha_stat.errors }}

                    <label>{{ form.acc_stat.label }}</label>
                    {{ form.acc_stat }} {{ form.acc_stat.errors }}

                    <label>{{ form.lck_stat.label }}</label>
                    {{ form.lck_stat }} {{ form.lck_stat.errors }}
                </div>
            </div>

            <button type="submit" class="btn">Сохранить</button>
            <a href="{% url 'accounts:profile' %}">
                <button type="button" class="btn">Назад</button>
            </a>

        </form>
    </div>
{% endblock %}
